@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  
}

::-webkit-scrollbar{
  width: 0px;
  background-color: #111;
}

::-webkit-scrollbar-thumb{
  background-color: #888;
}

.transit{
  transition: 0.3s;
}

input:focus,input:active,textarea:focus,textarea:active{
  @apply outline-0 border-violet-500 border-2
}
input,textarea{
  @apply outline-0 border-transparent border-2
}
